@import "tailwindcss";

@layer utilities {
    .no-scrollbar {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@font-face {
    font-family: "PublicSans";
    src: url("/assets/fonts/PublicSans-VariableFont-wght.ttf") format("truetype");
}

:root {
    /* Primary Colors */
    --white: #ffffff;
    --beige-100: #f8f4f0;
    --beige-300: rgb(247, 247, 242);
    --beige-500: #98908b;

    --grey-900: #201f24;
    --grey-500: #696868;
    --grey-300: #b3b3b3;
    --grey-100: #f2f2f2;

    /* Secondary Colors */
    --green: #277c78;
    --yellow: #f2cdac;
    --cyan: #82c9d7;
    --navy: #626070;
    --red: #c94736;
    --purple: #826cb0;

    /* Other Colors */
    --light-purple: #af81ba;
    --turquoise: #597c7c;
    --brown: #93674f;
    --magenta: #934f6f;
    --blue: #3f82b2;
    --navy-green: #97a0ac;
    --army-green: #7f9161;
    --gold: #cab361;
    --orange: #be6c49;

    /* Typography */
    --font-size-xl: 2rem; /* 32px */
    --font-size-lg: 1.25rem; /* 20px */
    --font-size-md: 1rem; /* 16px */
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-xs: 0.75rem; /* 12px */

    /* Spacing */
    --spacing-xxl: 2.5rem; /* 64px */
    --spacing-xl: 2rem; /* 32px */
    --spacing-lg: 1.5rem; /* 24px */
    --spacing-md: 1.25rem; /* 20px */
    --spacing-sm: 1rem; /* 16px */
    --spacing-s: 0.875rem; /* 14px */
    --spacing-xs: 0.75rem; /* 12px */
    --spacing-xxs: 0.5rem; /* 8px */
    --spacing-xxxs: 0.25rem; /* 4px */

    /* Component Styles */
    --card-bg: var(--white);
    --card-padding: var(--spacing-md);
    --card-padding-lg: var(--spacing-xl);
    --card-border-radius: 12px;

    /* Breakpoints */
    @theme {
        --breakpoint-lg-xtra: 1370px;
    }
}

html {
    font-family: "PublicSans", sans-serif;
}

a,
button {
    cursor: pointer;
}

@media (prefers-reduced-motion) {
    html {
        animation: none !important;
    }
}
